.header-bg{
    display: block;
    text-align: center;
}
.button {
    display: block;
    background-color: rgb(240, 120, 99);
     padding: 10px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: .3s ease-out; 
  }

  .button:active,
  .button:focus,
  .button:hover {
    background-color: rgb(191, 113, 113);
  }