
<div id="header">
	<div id="header-wrapper">
		<header id="header" class="container">

			<div id="icono">
				<a href="?module=home&op=view"></a>
			</div>

			
			<nav class="main-menu">
				<ul class="nav_list">
					<li ><a href="index.php?module=home&op=home" data-tr="Homepage"></a></li>
					<li ><a href="index.php?module=shop&op=view" data-tr="Shop"></a></li>
					<li><a href="index.php?module=cars&op=list" data-tr="Cars"></a></li>
					<li><a href="index.php?module=login&op=login_view" data-tr="Login"></a></li>
					<li><a href="index.php?module=contact" data-tr="Contact us"></a></li>
					<li><a href="index.php?module=aboutus" data-tr="About us"></a></li>
					<li><a href="index.php?module=errors&op=errors_log" data-tr="Errors log"></a></li>
					<li>
						<div  class="log_icon" id="des_inf_user">
							
						</div>
						</li>
				  
						<li>
						<input type="button" value="logout" id="logout" >
						</li>
						
				</ul>
				<ul class="nav_list_profile">
				</ul>
			</nav>
			<div class="header-bg">
				<div class="wrap">
					<div id="header">
						<div class="div_search" style="display: inline; width: 5%; height: 5%;">
							<select class="search_brand"></select>
							<select class="search_category"></select>
							<input type="text" id="autocom" autocomplete="off" placeholder="City" style="width: 10%;" />
							<div id="search_auto"></div>
							<input type="button" value="search" id="search-btn" class="btna third" style="display: inline;" />
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			
		</header>
	</div>
</div>

