<html>
<body>
    <br>
    <br>
    <br>
    <br>
   <div id="content"></div>
   
<div class="filters" ></div>
<div class="ordenar"></div>
   <div class="highlight"></div>
   <div id="details-shop">
    <div class="glider-contain">
        <div class="date_img"></div>
      
        <button aria-label="Previous" class="glider-prev">«</button>
        <button aria-label="Next" class="glider-next">»</button>
        <div role="tablist" class="dots"></div>
    
    </div>
    <div class="date_car" id="container-date-img"> </div>
   
    <br>
    <br>
    <br>
    <div class="results"></div>
    <br>
    <br>
    <br>
  </div>
   
    <div id='map' style='width: 1200px; height: 500px;'></div>
   <div id="containerShop" id="content_shop_cars"></div>
   <div id="pagination"></div>
</body>
</html>

  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>


